* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    max-width: 100%;
}

h1{
    color: #00963f;
}


.navbar{
    width: 100%;
    border-top: 3px solid #00963f; 
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 30px 20%;
    img{
        width: 250px;
        cursor: pointer;
    }
    .links{
        margin: auto 0;
        justify-self: center;
        a{
            text-decoration: none;
            color: #616b61;
            font-size: 20px;
            margin-right: 20px;
        }
        .nav-link {
            text-decoration: none;
            color: #404244;
            margin-right: 15px;
            font-style: bold;
            display: inline-block;
            position: relative;
            opacity: 0.75;
            padding: 0;
        }
    
        .nav-link:hover {
            opacity: 1;
        }
    
        .nav-link::before {
            transition: 400ms;
            height: 3px;
            content: '';
            position: absolute;
            background-color: #00963f;
        }
    
        .nav-link-ltr::before {
            width: 0%;
            bottom: -5px;
        }
    
        .nav-link-ltr:hover::before {
            width: 100%;
        }
    }
    .languages{
        justify-self: end;
        button{
            background-color: #00963f;
            color: white;
            border: none;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
            -webkit-transition: color 0.5s ease-in-out;
            -moz-transition: color 0.5s ease-in-out;
            -ms-transition: color 0.5s ease-in-out;
            -o-transition: color 0.5s ease-in-out;
            transition: color 0.5s ease-in-out;
        }
        .btn_en{
            background-color: #616b61;
        }
        button:hover{
            color: #404244;
        }
    }
}


    
.banner{
    padding: 0 10%;
    width: 100%;
    height: auto;
    margin: 0;
    img{
        width: 100%;
        height: 100%;
    }
}

.section{
    width: 100%;
    padding: 50px 20%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    text-align: justify;
}

.section1{
    width: 100%;
    padding: 0 20%;
    text-align: justify;
    margin-bottom: 100px;
}   



footer{
    width: 100%;
    height: auto;
    background-color: #00963f;
    padding: 0 20%;
    
    .inner{
        padding: 40px 0;
        display: grid;
        grid-template-columns: repeat(3, auto);
        .box{
            img{
                width: 100px;
            }
            h3{
                color: white;
                text-transform: uppercase;
                
            }
            p{
                color: white;
                margin: 0;
            }
            
            .soc_links{
                text-align: center;
                .fab{
                    font-size: 40px;
                    margin-right: 15px;
                    color: white;
                }
                .fab:hover{
                    color: #404244;
                }
            }
        }
        .middle{
            justify-self: center;
        }
        .last{
            justify-self: end;
        }
    }
    .copyRight{
        text-align: center;
        color: white;
        margin: 0;
        padding-bottom: 10px;
    }
}