<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/about.css">

    <title>Betapack</title>
    <link rel="shortcut icon" type="image/png" href="../images/logotipi/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
    <div class="navbar">
        <img src="../images/logotipi/logo.png" onclick="redirect('http://127.0.0.1:5500/views/home.html')">
        <div class="links">
            <a href="./products.html" class="articles nav-link nav-link-ltr">Proizvodi</a>
            <a href="./about.html" class="about nav-link nav-link-ltr">O nama</a>
            <a href="./contact.html" class="contact nav-link nav-link-ltr">Kontakt</a>
        </div>
        <div class="languages">
            <button class="btn_hr" onclick="redirect('http://127.0.0.1:5500/view/home.html')">HR</button>
            <button class="btn_en" onclick="redirect('http://127.0.0.1:5500/view/home_eng.html')">EN</button>
        </div>
    </div>

    <div class="navbar_mob">
        <img src="../images/logotipi/betapack_B.png" alt="">
        <i class="fas fa-bars" id="nav_icon" onclick="show_navbar()"></i>
    </div>

    <aside class="links-sidebar">
        <a href="./home.html">Početna</a>
        <a href="./products.html">Proizvodi</a>
        <a href="./about.html">O nama</a>
        <a href="./contact.html">Kontakt</a>


        <div id="nav_footer">
            <div class="box1">
                <button class="btn_hr" onclick="redirect('http://127.0.0.1:5500/view/home.html')">HR</button>
                <button class="btn_en" onclick="redirect('http://127.0.0.1:5500/view/home_eng.html')">EN</button>
            </div>
            <div class="box2">
                <i class="fab fa-facebook-square" onclick="redirect('https://www.facebook.com/betapack')"></i>
                <i class="fab fa-instagram" onclick="redirect('https://www.facebook.com/betapack')"></i>
            </div>
        </div>
    </aside>

    <div class="banner">
        <img src="../images/banner_onama.jpg" alt="">
    </div>

    <div class="section_back">
        <a href="./home.html">Početna</a>
        <i class="fas fa-angle-right"></i>
        <a href="./about.html">Contact</a>
    </div>

    <div class="section">
        <div class="box left">
            <h1>OPĆENITO</h1>
            <p>Tvrtka Betapack bavi se proizvodnjom i prodajom raznih proizvoda za sve vrste ugostiteljskih objekata. U
                našoj ponudi imamo razne vrste individualno pakiranih osvježavajućih maramica, šećere za kavu, domaće
                kekse, sapune I šampone, testere, te još mnogo toga. Svi naši proizvodi mogu se napraviti sa dizajnom po
                vašoj želji. Dug niz godina surađujemo sa kupcima iz raznih područja ugostiteljstva, opreme za higijenu,
                kozmetike, auto kozmetike I mnogih drugih.<br>
                Firma je osnovana 2001. godine u Zadru.</p>
        </div>
        <div class="box right">
            <img src="../wet_wipes_production.jpg" alt="">
        </div>
    </div>

    <div class="section1">
        <h1>PROIZVODNJA</h1>
        <p>Naše vlažne maramice I testere proizvodimo na dva stroja talijanske marke Universal-pack. Osim njih imamo I
            stroj za proizvodnju šečera , te dva stroja za pakiranje raznih proizvoda.</p>
    </div>



    <footer>
        <div class="inner">
            <div class="box">
                <img src="../images/logotipi/betapack_B.png" alt="">
            </div>
            <div class="box middle">
                <h3>kontakt</h3>
                <p>BATLEPACK d.o.o</p>
                <p>Slavska Batušića 8</p>
                <p>23000 Zadar</p>
                <p>Mail: betapack@zd.t-com.hr</p>
                <p>Tel: +385 91 896 8654</p>
            </div>
            <div class="box last">
                <h3>društvene mreže</h3>
                <div class="soc_links">
                    <i class="fab fa-facebook-square" onclick="redirect('https://www.facebook.com/betapack')"></i>
                    <i class="fab fa-instagram" onclick="redirect('https://www.facebook.com/betapack')"></i>
                </div>

            </div>
        </div>
        <p class="copyRight">2018 Copyright © All Rights Reserved.<br>
            powered by <b>Marijan & Franko</b></p>
    </footer>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="../js/home.js"></script>
</body>

</html>