<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/contact.css">

    <title>Betapack</title>
    <link rel="shortcut icon" type="image/png" href="../images/logotipi/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
    <div class="navbar">
        <img src="../images/logotipi/logo.png" onclick="redirect('http://127.0.0.1:5500/views/home.html')">
        <div class="links">
            <a href="./products.html" class="articles nav-link nav-link-ltr">Proizvodi</a>
            <a href="./about.html" class="about nav-link nav-link-ltr">O nama</a>
            <a href="./contact.html" class="contact nav-link nav-link-ltr">Kontakt</a>
        </div>
        <div class="languages">
            <button class="btn_hr" onclick="redirect('http://127.0.0.1:5500/views/contact.html')">HR</button>
            <button class="btn_en" onclick="redirect('http://127.0.0.1:5500/views/home_eng.html')">EN</button>
        </div>
    </div>

    <div class="navbar_mob">
        <img src="../images/logotipi/betapack_B.png" alt="">
        <i class="fas fa-bars" id="nav_icon" onclick="show_navbar()"></i>
    </div>

    <aside class="links-sidebar">
        <a href="./home.html">Početna</a>
        <a href="./products.html">Proizvodi</a>
        <a href="./about.html">O nama</a>
        <a href="./contact.html">Kontakt</a>


        <div id="nav_footer">
            <div class="box1">
                <button class="btn_hr" onclick="redirect('http://127.0.0.1:5500/views/contact.html')">HR</button>
                <button class="btn_en" onclick="redirect('http://127.0.0.1:5500/views/home_eng.html')">EN</button>
            </div>
            <div class="box2">
                <i class="fab fa-facebook-square" onclick="redirect('https://www.facebook.com/betapack')"></i>
                <i class="fab fa-instagram" onclick="redirect('https://www.facebook.com/betapack')"></i>
            </div>
        </div>
    </aside>

    <div class="banner">
        <img src="../images/banner/kontakt.png" class="left">
        <img src="../images/banner/banner_ruka.png" class="right">
    </div>

    <div class="section_back">
        <a href="./home.html">Početna</a>
        <i class="fas fa-angle-right"></i>
        <a href="./contact.html">Contact</a>
    </div>

    <div class="section1">
        <div class="box">
            <h1>BETAPACK d.o.o.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad officiis, laboriosam saepe ipsum iste
                similique a ex illo nihil? Explicabo, aspernatur quos ad corrupti natus blanditiis debitis nam veniam
                nemo?</p>
        </div>

        <div class="box down">
            <h1>KONTAKTIRAJTE NAS</h1>
            <form method="POST" action="/send" class="inner" autocomplete="off">
                <div class="left">
                    <input type="text" name="name" placeholder="Ime*">
                    <input type="email" name="email" placeholder="email*" class="middle">
                    <input type="text" name="phone" placeholder="Prezime*">
                </div>
                <textarea name="message" class="right" placeholder="Poruka*"></textarea>
                <button type="submit" class="right_btn">Pošalji</button>
            </form>
        </div>
    </div>

    <div id="map">
    </div>


    <footer>
        <div class="inner">
            <div class="box">
                <img src="../images/logotipi/betapack_B.png" alt="">
            </div>
            <div class="box middle">
                <h3>kontakt</h3>
                <p>BATLEPACK d.o.o</p>
                <p>Slavska Batušića 8</p>
                <p>23000 Zadar</p>
                <p>Mail: betapack@zd.t-com.hr</p>
                <p>Tel: +385 91 896 8654</p>
            </div>
            <div class="box last">
                <h3>društvene mreže</h3>
                <div class="soc_links">
                    <i class="fab fa-facebook-square" onclick="redirect('https://www.facebook.com/betapack')"></i>
                    <i class="fab fa-instagram" onclick="redirect('https://www.facebook.com/betapack')"></i>
                </div>

            </div>
        </div>
        <p class="copyRight">2018 Copyright © All Rights Reserved.<br>
            powered by <b>Marijan & Franko</b></p>
    </footer>



    <script>
        function initMap() {
            var options = {
                zoom: 13,
                center: { lat: 44.11972, lng: 15.24222 }
            }

            var map = new google.maps.Map(document.getElementById('map'), options);

            var marker = new google.maps.Marker({
                position: { lat: 44.1225, lng: 15.228 },
                map: map
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYudwaLtmrnM9VkBsle-E89TeY_qaKX_4&callback=initMap"
        async defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="../js/home.js"></script>
</body>

</html>